{% extends "r_edit/base.html" %}

{% block title %} REdit | Subreddits {% endblock %}

{% block content %}
    <div class="w-4/5 h-screen p-5">
        <h1 class="text-4xl mb-6 font-bold">Subreddits management</h1>
        <div>
            <form action="" method="POST" class="flex flex-row items-start space-y-4">
                {% csrf_token %}
                
                <div class="flex items-center space-x-2">
                    {{ form.name }}
                </div>
            
                <div class="flex flex-col space-y-2">
                    <div class="flex flex-wrap">
                        {% for checkbox in form.types %}
                            <label class="inline-flex items-center bg-gray-100 p-2 mx-1 rounded-md shadow-sm hover:bg-gray-200 border-orange-300 border transition">
                                {{ checkbox.tag }}
                                <span class="text-gray-800 ml-1">{{ checkbox.choice_label }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <button type="submit" 
                class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600 transition duration-200">
                    +
                </button>
            </form>
            <div class="mt-5 flex gap-1">
                {% for subreddit in object_list %}
                    <div class="bg-white border border-gray-300 rounded-md p-2 flex justify-center items-center h-10">
                        <a href="{{subreddit.url}}" target="_blank" class="text-sm font-medium text-center">r/{{ subreddit.name }}</a>
                        <div class="ml-2 cursor-pointer" onclick="handleClick(event, '{{ subreddit.id }}')">&#10005;</div>
                    </div>
                {% empty %}
                    <p class="text-gray-500">No subreddits available.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        const handleClick = async (event, id) => {
            event.preventDefault();
            console.log(id);
            const URL = `{% url 'subreddit-detail' pk=0 %}`.replace("0", id);

            const response = await fetch(URL, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            });
            if (response.ok) {
                location.reload();
            }
        }
    </script>
{% endblock %}