{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block head %} {% endblock %}

    {% tailwind_css %}
</head>
<body class="w-screen h-screen flex box-border m-0 p-0 overflow-hidden">
    <!-- Sidebar -->
    <nav class="w-1/5 bg-blue-100 text-black p-4 fixed h-full">
        <h1 class="text-5xl font-bold mb-9 text-orange-500 text-center">REdit</h1>
        <ul>
            <li class="mb-4">
                <a href="{% url 'dashboard' %}" 
                class="hover:bg-blue-400 p-2 rounded block {% if page_name == "dashboard" %} bg-blue-300 {% else %} bg-blue-200 {% endif %} font-medium">
                    Dashboard</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'subreddits' %}" 
                class="hover:bg-blue-400 p-2 rounded block {% if page_name == "subreddits" %} bg-blue-300 {% else %} bg-blue-200 {% endif %} font-medium">
                    Subreddits</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'contentgroups' %}" 
                class="hover:bg-blue-400 p-2 rounded block {% if page_name == "groups" %} bg-blue-300 {% else %} bg-blue-200 {% endif %} font-medium">
                    Content Groups</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'posts-fetch' %}" 
                class="hover:bg-blue-400 p-2 rounded block {% if page_name == "posts-fetch" %} bg-blue-300 {% else %} bg-blue-200 {% endif %} font-medium">
                    Posts fetching</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'my-posts' %}" 
                class="hover:bg-blue-400 p-2 rounded block {% if page_name == "posts" %} bg-blue-300 {% else %} bg-blue-200 {% endif %} font-medium">
                    Posts</a>
            </li>
            <li class="mb-4">
                <a href="{% url 'video-form' %}" 
                class="hover:bg-blue-400 p-2 rounded block {% if page_name == "video-form" %} bg-blue-300 {% else %} bg-blue-200 {% endif %} font-medium">
                    Video generation</a>
            </li>
        </ul>
    </nav>

    <!-- Main Content Area -->
    <main class="ml-[20%] w-[80%] h-full bg-orange-100 overflow-y-auto p-5">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
