{% extends "r_edit/base.html" %}
{% load analytics_filters static %}
{% block title %} REdit | Dashboard {% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<style>
    /* Basic styling for the dashboard icons */
    .icon {
        cursor: pointer;
        padding: 10px;
        transition: transform 0.2s;
    }
    .icon:hover {
        transform: scale(1.1);
    }
</style>
{% endblock %}

{% block content %}
<div class="container mx-auto py-4 px-6">
    <div class="flex mb-2">
        <div class="icon" id="ytIcon">
            <img src="{% static 'images/youtube_icon.png' %}" alt="YouTube" width="32">
        </div>
        <div class="icon" id="instaIcon">
            <img src="{% static 'images/instagram_icon.png' %}" alt="Instagram" width="32">
        </div>
        <div class="icon" id="tiktokIcon">
            <img src="{% static 'images/tiktok_icon.png' %}" alt="TikTok" width="32">
        </div>
    </div>

    <div class="mb-6">
        <button id="generalBtn" class="bg-blue-500 text-white px-2 py-1 rounded">General</button>
        <button id="detailedBtn" class="bg-gray-200 text-gray-700 px-2 py-1 rounded">Detailed</button>
    </div>

    <div id="ytDashboard" class="dashboard">
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 mb-10">
            <div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <h2 class="text-xl font-semibold">Total Views</h2>
                <p class="text-3xl font-bold text-green-500">
                    {{ yt_shorts|sum_by_field:'views' }}
                </p>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <h2 class="text-xl font-semibold">Total Likes</h2>
                <p class="text-3xl font-bold text-blue-500">
                    {{ yt_shorts|sum_by_field:'likes' }}
                </p>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <h2 class="text-xl font-semibold">Total Comments</h2>
                <p class="text-3xl font-bold text-orange-500">
                    {{ yt_shorts|sum_by_field:'comments' }}
                </p>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <h2 class="text-xl font-semibold">Subscribers</h2>
                <p class="text-3xl font-bold text-purple-600">
                    {{ yt_shorts|net_subscribers:'subscribersGained,subscribersLost' }}
                </p>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <h2 class="text-xl font-semibold">Total minutes watched</h2>
                <p class="text-3xl font-bold text-teal-500">
                    {{ yt_shorts|sum_by_field:'estimatedMinutesWatched' }}
                </p>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <h2 class="text-xl font-semibold">Total Dislikes</h2>
                <p class="text-3xl font-bold text-red-600">
                    {{ yt_shorts|sum_by_field:'dislikes' }}
                </p>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <h2 class="text-xl font-semibold">Avg. view duration (s)</h2>
                <p class="text-3xl font-bold text-indigo-500">
                    {{ yt_shorts|average:'averageViewDuration' }}
                </p>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <h2 class="text-xl font-semibold">Avg. watch %</h2>
                <p class="text-3xl font-bold text-pink-500">
                    {{ yt_shorts|average:'averageViewPercentage' }}
                </p>
            </div>
        </div>

        <div class="flex flex-wrap justify-center ">
            <div class="bg-white shadow-lg rounded-lg p-4 mb-6 flex-grow mx-1" style="flex: 1 1 calc(33.333% - 0.5rem);">
                <h2 class="text-xl font-semibold text-center mb-2">Daily Views & Likes</h2>
                <canvas id="viewsLikesChart" class="w-full h-32"></canvas>
            </div>
        
            <div class="bg-white shadow-lg rounded-lg p-4 mb-6 flex-grow mx-1" style="flex: 1 1 calc(33.333% - 0.5rem);">
                <h2 class="text-xl font-semibold text-center mb-2">Average View Duration & Watch Percentage</h2>
                <canvas id="avgViewDurationWatchPercentageChart" class="w-full h-32"></canvas>
            </div>
        
            <div class="bg-white shadow-lg rounded-lg p-4 mb-6 flex-grow mx-1" style="flex: 1 1 calc(33.333% - 0.5rem);">
                <h2 class="text-xl font-semibold text-center mb-2">Engagement Over Time</h2>
                <canvas id="engagementChart" class="w-full h-32"></canvas>
            </div>
        
            <div class="bg-white shadow-lg rounded-lg p-4 mb-6 flex-grow mx-1" style="flex: 1 1 calc(33.333% - 0.5rem);">
                <h2 class="text-xl font-semibold text-center mb-2">Subscribers Gained vs Lost</h2>
                <canvas id="subscribersChart" class="w-full h-32"></canvas>
            </div>
        
            <div class="bg-white shadow-lg rounded-lg p-4 mb-6 flex-grow mx-1" style="flex: 1 1 calc(33.333% - 0.5rem);">
                <h2 class="text-xl font-semibold text-center mb-2">Views vs Minutes Watched</h2>
                <canvas id="viewsVsMinutesChart" class="w-full h-32"></canvas>
            </div>
        
            <div class="bg-white shadow-lg rounded-lg p-4 mb-6 flex-grow mx-1" style="flex: 1 1 calc(33.333% - 0.5rem);">
                <h2 class="text-xl font-semibold text-center mb-2">Likes vs Dislikes</h2>
                <canvas id="likesVsDislikesChart" class="w-full h-32"></canvas>
            </div>
        </div>
    </div>

    <div id="ytDetailedData" class="hidden container mx-auto px-4">
        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800 mb-2">Section 1: Average Views per X</h1>
            <p class="text-gray-600">Analyzing average views across different categories.</p>
        </div>
        <div class="flex flex-wrap gap-4 justify-center p-4">
            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Short by Content Group</h4>
                <div class="w-full h-48 relative">
                    <canvas id="viewsDistributionChart" class="w-full h-full"></canvas>
                </div>
            </div>
        
            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Video Type</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsPerVideoTypeChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Song Type</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsPerSongTypeChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Song Title</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsPerSongTitleChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Background</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsPerBackgroundChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Media per Screen</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsPerMediaPerScreenChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Media Quantity</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsPerMediaQtyChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Start Text Usage</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsStartTextChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per End Text Usage</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsEndTextChart" class="w-full h-full"></canvas>
                </div>
            </div>
        </div>
        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800 mb-2">Section 2: Average engagement per X</h1>
            <p class="text-gray-600">Analyzing average engagement across different categories.</p>
        </div>
        <div class="flex flex-wrap gap-4 justify-center p-4">
            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement Rate by Content Group</h4>
                <div class="w-full h-48 relative">
                    <canvas id='engagementRateByContentGroupChart' class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement per Video Type</h4>
                <div class="w-full h-48 relative">
                    <canvas id="engagementPerVideoTypeChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement per Song Type</h4>
                <div class="w-full h-48 relative">
                    <canvas id="engagementPerSongTypeChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement per Song Title</h4>
                <div class="w-full h-48 relative">
                    <canvas id="engagementPerSongTitleChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement per Background</h4>
                <div class="w-full h-48 relative">
                    <canvas id="engagementPerBackgroundChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement per Media per Screen</h4>
                <div class="w-full h-48 relative">
                    <canvas id="engagementPerMediaPerScreenChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement per Media Quantity</h4>
                <div class="w-full h-48 relative">
                    <canvas id="engagementPerMediaQtyChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement per Start Text Usage</h4>
                <div class="w-full h-48 relative">
                    <canvas id="engagementPerStartTextChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Engagement per End Text Usage</h4>
                <div class="w-full h-48 relative">
                    <canvas id="engagementPerEndTextChart" class="w-full h-full"></canvas>
                </div>
            </div>
        </div>
        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800 mb-2">Section 3: Average watch percentage per X</h1>
            <p class="text-gray-600">Analyzing watch percentage across different categories.</p>
        </div>
        <div class="flex flex-wrap gap-4 justify-center p-4">
            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per Content Group</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerContentGroupChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per Video Type</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerVideoTypeChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per Song Type</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerSongTypeChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per Song Title</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerSongTitleChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per Background</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerBackgroundChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per Media per Screen</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerMediaPerScreenChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per Media Quantity</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerMediaQtyChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per Start Text Usage</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerStartTextChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Watch Percentage per End Text Usage</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgWatchPercentagePerEndTextChart" class="w-full h-full"></canvas>
                </div>
            </div>
        </div>

        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800 mb-2">Section 4: Other useful charts</h1>
            <p class="text-gray-600">Anything we think might be useful or fun and doesn't fit to other sections</p>
        </div>
        <div class="flex flex-wrap gap-4 justify-center p-4">
            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Video Length vs. View Percentage/Duration</h4>
                <div class="w-full h-48 relative">
                    <canvas id="videoLengthVsViewMetricsChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-72 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Amount of Shorts Posted That Day</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsPerShortsPostedChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-96 bg-white rounded-lg shadow-md p-4">
                <h4 class="text-center text-sm font-semibold text-gray-700 mb-2">Average Views per Upload Day</h4>
                <div class="w-full h-48 relative">
                    <canvas id="avgViewsPerDayOfWeekChart" class="w-full h-full"></canvas>
                </div>
            </div>
        </div>
    </div>
        

    <div id="instaDashboard" class="hidden">
        <h2 class="text-2xl font-semibold text-center mb-4">Instagram Analytics</h2>
        <p class="text-center">DATA WILL BE HERE</p>

    <div id="tiktokDashboard" class="hidden">
        <h2 class="text-2xl font-semibold text-center mb-4">TikTok Analytics</h2>
        <p class="text-center">DATA WILL BE HERE</p>
    </div>
</div>

{% include 'dashboard/scripts/general_charts.html'%}
{% include 'dashboard/scripts/detailed_shorts_charts.html'%}

<script>
    document.querySelector('#generalBtn').addEventListener("click", e => {
        document.querySelector('#ytDashboard').classList.remove('hidden');
        document.querySelector('#ytDetailedData').classList.add('hidden');
        initializeGeneralCharts();
    });

    document.querySelector('#detailedBtn').addEventListener("click", e => {
        document.querySelector('#ytDashboard').classList.add('hidden');
        document.querySelector('#ytDetailedData').classList.remove('hidden');
        initializeDetailedCharts();
    });

    document.addEventListener("DOMContentLoaded", initializeGeneralCharts);
</script>
{% endblock %}
